<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>用户登录</title>
</head>
<body>
<form th:action="@{/user/success}" method="post">
  <table>
    <tr>
      <td>
        <input type="text" name="phoneNumber">
      </td>
    </tr>
    <tr>
      <td th:text="#{password}"></td>
      <td><input type="password" name="password"></td>
    </tr>
    <tr>
      <td><input type="submit" value="登录"></td>
      <td><input type="reset" value="重填"></td>
    </tr>
  </table>
</form>
</body>
</html>